<button class="menu-toggle" (click)="toggleMenu()">
  <i class="fas fa-bars"></i>
</button>

<div class="sidemenu" [class.active]="isMenuOpen">
  <div class="logo-container">
    <img src="/Logo.png" alt="Logo" />
    <h1>Invoicy</h1>
  </div>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()"><i class="fas fa-home"></i> Home</a>
    </li>
    <!-- <li>
      <a routerLink="/Expensetype" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-tags"></i> Expense-Type
      </a>
    </li>
    <li>
      <a routerLink="/payroll" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-users"></i> Payroll Invoice
      </a>
    </li>
    <li>
      <a routerLink="/jupiter" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-university"></i> Payroll Invoice (Bank)
      </a>
    </li>
    <li>
      <a routerLink="/utility" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-bolt"></i> Utility Expenses
      </a>
    </li> -->
    <li>
      <a routerLink="/clients" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-user-friends"></i> Client Management
      </a>
    </li>
    <li>
      <a routerLink="/client-invoice" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-file-invoice"></i> Client Invoices
      </a>
    </li>
    <li>
      <a routerLink="/analytics" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-chart-line"></i> Smart Analytics
      </a>
    </li>
    <li>
      <a routerLink="/reports" routerLinkActive="active" (click)="closeMenu()">
        <i class="fas fa-file-alt"></i> Reports
      </a>
    </li>
    <li>
      <a (click)="onLogout()" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
  </ul>
</div>
